@model WALKIM.Models.Servicio

@{
    var animales = ViewBag.Animales as List<WALKIM.Models.TipoAnimal>;
    var mensaje = ViewBag.Mensaje;
}


<div class="container">

<div class="row">
    <div class="col-12">
            <h1>Crear un nuevo Servicio</h1>
            <hr />
    </div>
    <form asp-action="CrearServicio">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12">
            <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="nombre" class="control-label fw-bold">Nombre:</label>
                                    <input asp-for="nombre" class="form-control" />
                                    <span asp-validation-for="nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12" style="margin-top:10px;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="precio" class="control-label fw-bold">Precio:</label>
                                            <input asp-for="precio" class="form-control" />
                                            <span asp-validation-for="precio" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="idTipoServicio" class="control-label fw-bold">Tipo de Servicio:</label>
                                            <select asp-for="idTipoServicio" class="form-control" asp-items="ViewBag.tipoServicio"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="descripcion" class="control-label fw-bold">Descripción del servicio:</label>
                                    <textarea asp-for="descripcion" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="descripcion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
       
       
         <div class="col-12" style="margin-top:20px;">
            <h4>Animales que aceptas:</h4>
            <div class="container">
                <div class="row">
                    @foreach (var animal in animales)
                    {
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" name="animalesSeleccionados" type="checkbox" value="@animal.idAnimal" />
                                <label class="form-check-label">@animal.nombre</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div> 
        <div class="col-12" style="margin-top:10px;">
            <div class="form-group">
                <input type="submit" value="Crear servicio" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
</div>
@if(mensaje != null)
{
    <p class="alert alert-danger">@mensaje</p>
}
